APScheduler==3.10.4
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
JayDeBeApi==1.2.3
JPype1==1.5.2
Werkzeug==3.0.6
gunicorn==22.0.0
openpyxl==3.1.5
oracledb==2.4.1
psycopg[binary]==3.2.10
pyzipper==0.3.6
python-dotenv==1.0.1
qrcode[pil]==7.4.2
